<!doctype html>
<html>
<head>
    <title>Test'em</title>
    <link rel="stylesheet" href="mocha.css">

    <script src="lib/mocha.js"></script>
    <script src="lib/chai.js"></script>
    <script src="lib/mocha_adapter.js"></script>
    <script src="lib/testem_client.js"></script>
    <script src="browserified.js"></script>
    <script>
        mocha.setup('bdd');
        window.testFiles = [];

        <!--{{#serve_files}}-->
        <!--window.testFiles.push("{{{src}}}");-->
        <!--{{/serve_files}}-->

        //    window.addTestFiles = function () {
        //
        //        var len = testFiles.length;
        //        var loaded = 0;
        //
        //        for (var i = 0; i < len; i++) {
        //            var testFile = testFiles[i];
        //            var $el = $('<script src="' + testFile + '"><\/script>');
        //            $el.appendTo("head");
        //            $el.load(function () {
        //                loaded++;
        //                if (loaded === len -1) {
        //                    mocha.run();
        //                }
        //            });
        //
        //        }
        //    };
        $(function () {
            $.ajax({
                url: 'server.json',
                type: 'get',
                dataType: "json",
                success: function (data) {
                    window.serverData = data;
//              window.addTestFiles();
                }
            });
        });
    </script>
    {{#serve_files}}
        <script src="{{{src}}}"></script>;
    {{/serve_files}}

  {{#styles}}<link rel="stylesheet" href="{{.}}">{{/styles}}
</head>

<body>
<div id="mocha"></div>
</body>
</html>
