<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="js.build_tools.gulp" factoryName="Gulp.js">
    <node-options />
    <gulpfile>$PROJECT_DIR$/gulpfile.js</gulpfile>
    <tasks>
      <task>default:server</task>
    </tasks>
    <arguments />
    <pass-parent-envs>true</pass-parent-envs>
    <envs />
    <method />
  </configuration>
</component>